Package: lorabot
Version: x.x-x
Section: base
Priority: optional
Architecture: any
Depends: wiringpi (>= 2.50), dotnet-runtime-3.0 (>= 3.0.1)
Maintainer: BlubbFish <dev@blubbfish.net>
Description: Lora-Bot
 Lora-Bot is a Lora gateway
