[logging]
path=/var/log/lorabot.log

;[lora]
;debug=true
;type=Dragino
;pin_sspin=Pin25
;pin_dio0=Pin04
;pin_rst=Pin17
;spichan=Channel0
;freq=867000000
;sf=10
;bw=125000
;cr=7
;;18 = 0x12
;syncword=18
;preamblelength=8
;currentlimit=140
;power=17
;gain=0

;[lora]
;debug=true
;type=Ic880a
;pin_sspin=Pin10
;pin_rst=Pin21
;spichan=Channel0
; ## Set Basic Frequencies ##
;frequency0=867125000
;frequency1=868125000
; ## Set Per Virtual Interface IF0-7 (Freq means the offset to the basic frequency) ##
;interface0frequency=-375000
;interface0chain=0
;interface1frequency=-125000
;interface1chain=0
;interface2frequency=125000
;interface2chain=0
;interface3frequency=375000
;interface3chain=0
;interface4frequency=-375000
;interface4chain=1
;interface5frequency=-125000
;interface5chain=1
;interface6frequency=125000
;interface6chain=1
;interface7frequency=375000
;interface7chain=1
; ## Virtual Interface IF8 Lora Interface ##
;interface8frequency=-200000
;interface8chain=1
;lorabandwith=250000
;loraspreadingfactor=7
; ## Virtual Interface IF9 FSK Interface ##
;interface9frequency=300000
;interface9chain=1
;fskbandwith=125000
;fskdatarate=50000
; ## General Settings ##
;crc=true
;lorawan=false
;lbt_enable=false
